@model IEnumerable<Ben_Project_1.Models.OrderModel>

@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        .CreateOrderBut{

        }
        .LeftForm {
            float: left;
            margin-left: 15%;
            margin-bottom: 10%
        }

        .RightForm {
            float: Right;
            margin-right: 15%;
            margin-bottom: 10%
        }
        .TitleText{
            text-align:center
        }
    </style>
</head>
<h1 class="TitleText">Orders</h1>

<div class="LeftForm">
    <form asp-action="Create" method="get">
        <input type="submit" value="Make An Order" class="btn btn-primary btn-lg btn-block" />
    </form>
</div>
<div class="RightForm">
    <form asp-action="Details" method="get">
        <input type="submit" value="View Your Orders" class="btn btn-success btn-lg btn-block" />
    </form>
</div>
@*<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@
